html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    border: 0;
    padding: 0;
}
#header{
    display: flex;
    background-color: rgb(40, 41, 41);
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 1;
    transition: .3s;
}

#navprincipal{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#menu{
    margin: auto;
}

.navmenu {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: #26c3d4;
    transition: .3s;
}
.navmenu a {
    list-style: none;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    font-size:13px;
    
}

#logo{
    display: flex;
    border: 1px solid aliceblue;
    width: 100px;
    height: 60px;
    text-align: center;
    align-items: center;
    transition: .5s;
}

#logo p{
    margin: auto;
    font-weight: bold;
    font-size: 15px;
    color: aliceblue;
}

#wrap{
    border: 1px;
    width: auto;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#servicos{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid #8a8a8a;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -4px 4px #8a8a8a;
    margin-bottom: 20px;
}
.quadro-principal{
    color: #8a8a8a;
    width: 500px;
    justify-content: center;
    text-align: center;
    padding: 7px;
}

.quadro-titulo{
    margin: auto;
    width: auto;
    border-bottom: 1px solid;
    justify-content: center;
    text-align: left;
}

.quadro-titulo p{
    margin: 0;
}

.botao-linkedin {
    color: #0a78b5;
    font-weight: bold;
    border: 1px solid;
    padding: 6px;
    border-radius: 4px;
}

.quadro-texto{
    text-align: left;
}

table {
    width: 400px;
    border-radius: 4px;
}

th, td {
    border: solid 1px #26c3d4;
    border-radius: 6px;
    text-align: center;
}

th {
    background-color: #26c3d4;
    font-weight: bold;
    color: #FFFFFF;
}

td {
    color: #8a8a8a;
    background-color: #ffffff;
}


#footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(40, 41, 41);
    height: 100px;
    position: absolute;
    bottom: 0%;
    font-style: italic;
}

#footer p{
    margin: auto;
}

@media only screen and (max-width: 600px) {

    #header{
        flex-wrap: wrap;
        display: block;
        justify-content: center;
        background-color: rgb(40, 41, 41);
        height: auto;
    }

    #navprincipal{
        display: block;
        padding-top: 15px;
        
    }

    #logo{
        display: none;
        border: 1px solid aliceblue;
        width: 120px;
        height: 80px;
        margin: auto;
    }

    #wrap{
        margin: auto;
    }

    .navmenu {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    
    a {
        text-decoration: none;
        color: aliceblue;
    }
    
    a:hover{
        color: #26c3d4;
    }
    
    .navmenu a {
        font-size: 12px;
        display: inline;
        list-style: none;
        font-weight: bold;
        padding-right: 20px;
        padding-left: 20px;
        
    }

    #servicos{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        width: auto;
        margin: 15px;
        margin-bottom: 20px;
    }

    #wrap {
        display: block;
        justify-content: center;
        width: 100%;
    }
    

    #quadro-principal{
        display: block;
        text-align: center;
    }
  
  table {
    width: 500px;
    border-radius: 4px;
    }

    

  }